<form [formGroup]="myForm" class="my-form">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Numero de telephone</mat-label>
      <input matInput placeholder="Numero de telephone" [formControl]="phone" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field  appearance="outline">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Message" [formControl]="message" required>
    </mat-form-field>
  </div>

  <button (click)="envoyerMessage()" mat-raised-button class="primary-background">Envoyer</button>

</form>